<form id="form">
	<label for='title'>Title</label>
	<input type='text' name='title' id='title' />
	<label for='price'>Price</label>
	<input type='number' name='price' id='price' />
	<label for='price'>Thumbnail</label>
	<input type='text' name='thumbnail' id='thumbnail' />
	<input type='submit' value='submit' />
</form>
<div >
	{{#if productos}}
        <table id="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
		    {{#each productos}}
			    <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img src={{this.thumbnail}} style="width: 50px;"></img>
                    </td>
                </tr>
		    {{/each}}
        </table>
	{{else}}
		<span>No hay productos</span>
	{{/if}}
</div>

<div>
	<h1>Chat</h1>
	<form id="messages">

		<label for="email">Email</label>
		<input type="text" id="email">
		<label for="message"></label>
		<input type="text" id="message">
		<button type="submit">Submit</button>
	</form>
	<div id="errors">

	</div>
	<hr>
	<div >
		<ul id="chat">
		{{#if messages}}
		
			{{#each messages}}
				<li>
					<span style="color: aqua; font-weight: 600;">{{this.email}}: </span>
					<span style="color: brown;">[{{this.date}}]</span>
					<span style="color: green; font-style: italic;">{{this.message}}</span>
				</li>
			{{/each}}
		{{else}}
			<span>No hay mensajes</span>
		{{/if}}
		</ul>

	</div>
</div>